#myself{
    border-radius: 50px;
    width: 20vw;
    margin-top: 85px;
}

.text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.text-div h1{
    font-size: xx-large;
}

.text-div p{
    font-size: large;
}